In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Import netflix raw file
csv_file = "Resources/netflix_titles_raw.csv"
netflix_df = pd.read_csv(csv_file)

In [3]:
netflix_df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [4]:
# Import IMDB250 file
csv_file = "Resources/imdb250.csv"
imdb_df = pd.read_csv(csv_file)
imdb_df

,Unnamed: 0,rank,id,title,year,rating
0,0,1,tt0111161,The Shawshank Redemption,1994,9.2
1,1,2,tt0068646,The Godfather,1972,9.1
2,2,3,tt0071562,The Godfather: Part II,1974,9.0
3,3,4,tt0468569,The Dark Knight,2008,9.0
4,4,5,tt0050083,12 Angry Men,1957,8.9
...,...,...,...,...,...,...
242,242,243,tt2758880,Winter Sleep,2014,8.0
243,243,244,tt0043338,Ace in the Hole,1951,8.0
244,244,245,tt0064115,Butch Cassidy and the Sundance Kid,1969,8.0
245,245,246,tt0103639,Aladdin,1992,8.0
246,246,247,tt0083922,Fanny and Alexander,1982,8.0

In [5]:
# Match IMDB and netflix movies
imdb_netflix = pd.merge(imdb_df, netflix_df, on="title")
imdb_netflix = imdb_netflix[["rank", "id", "title", "rating_x", "year"]]
imdb_netflix = imdb_netflix.rename(columns={"rating_x":"rating"})
imdb_netflix["service"] = "netflix"
imdb_netflix = imdb_netflix.drop_duplicates(subset="id", keep="first")
imdb_netflix

,rank,id,title,rating,year,service
0,6,tt0108052,Schindler's List,8.9,1993,netflix
1,7,tt0167260,The Lord of the Rings: The Return of the King,8.9,2003,netflix
2,8,tt0110912,Pulp Fiction,8.8,1994,netflix
3,13,tt1375666,Inception,8.7,2010,netflix
4,15,tt0167261,The Lord of the Rings: The Two Towers,8.7,2002,netflix
5,16,tt0133093,The Matrix,8.6,1999,netflix
6,22,tt0317248,City of God,8.6,2002,netflix
7,35,tt0120586,American History X,8.5,1998,netflix
8,43,tt0407887,The Departed,8.5,2006,netflix
9,47,tt0064116,Once Upon a Time in the West,8.5,1968,netflix
10,52,tt7286456,Joker,8.4,2019,netflix
11,56,tt0082971,Indiana Jones and the Raiders of the Lost Ark,8.4,1981,netflix
12,58,tt0405094,The Lives of Others,8.4,2006,netflix
13,62,tt4154756,Avengers: Infinity War,8.4,2018,netflix
14,65,tt4633694,Spider-Man: Into the Spider-Verse,8.4,2018,netflix
15,76,tt0169547,American Beauty,8.3,1999,netflix
16,80,tt1187043,3 Idiots,8.3,2009,netflix
17,88,tt0361748,Inglourious Basterds,8.3,2009,netflix
18,94,tt5074352,Dangal,8.3,2016,netflix
19,98,tt2106476,The Hunt,8.3,2012,netflix
20,107,tt0075314,Taxi Driver,8.2,1976,netflix
21,115,tt1832382,A Separation,8.2,2011,netflix
22,117,tt0053604,The Apartment,8.2,1960,netflix
23,120,tt0097576,Indiana Jones and the Last Crusade,8.2,1989,netflix
24,124,tt0071853,Monty Python and the Holy Grail,8.2,1975,netflix
25,141,tt0457430,Pan's Labyrinth,8.2,2006,netflix
26,145,tt0120735,"Lock, Stock and Two Smoking Barrels",8.2,1998,netflix
27,146,tt0081398,Raging Bull,8.2,1980,netflix
28,155,tt0434409,V for Vendetta,8.1,2005,netflix
29,160,tt1291584,Warrior,8.1,2011,netflix
30,162,tt0117951,Trainspotting,8.1,1996,netflix
31,167,tt3170832,Room,8.1,2015,netflix
32,176,tt0266697,Kill Bill: Vol. 1,8.1,2003,netflix
33,183,tt4729430,Klaus,8.1,2019,netflix
34,184,tt8108198,Andhadhun,8.1,2018,netflix
35,193,tt0060827,Persona,8.1,1966,netflix
37,196,tt0264464,Catch Me If You Can,8.1,2002,netflix
38,212,tt0079470,Monty Python's Life of Brian,8.1,1979,netflix
39,226,tt0405508,Rang De Basanti,8.0,2006,netflix
40,228,tt0075148,Rocky,8.0,1976,netflix
41,240,tt4857264,The Invisible Guest,8.0,2016,netflix
42,241,tt4430212,Drishyam,8.0,2015,netflix

In [6]:
imdb_netflix.describe()

             rank     rating         year
count   42.000000  42.000000    42.000000
mean   111.404762   8.304762  1999.619048
std     72.030840   0.245895    15.993829
min      6.000000   8.000000  1960.000000
25%     53.000000   8.100000  1993.250000
50%    111.000000   8.200000  2003.000000
75%    165.750000   8.400000  2011.000000
max    241.000000   8.900000  2019.000000

In [7]:
imdb_netflix.to_csv('Resources/netflix_filtered.csv')

In [8]:
# # Merge two netflix raw files
# netflix_newdf = pd.merge(netflix_df, netflix_url, on="title")

# # Clean netflix raw file
# netflix_newdf = netflix_newdf[["show_id", "title", "year", "netflix_url" ]]
# netflix_newdf

In [9]:
# # Import IMDB250 file
# csv_file = "Resources/imdb250.csv"
# imdb_df = pd.read_csv(csv_file)
# imdb_df

In [10]:
rg_csv_file = "Resources/netflix-reelgood.csv"
netflix_url_df = pd.read_csv(rg_csv_file)

netflix_url_df

,Unnamed: 0,title,year,netflix_url
0,0,Inception,2010,https://www.netflix.com/watch/70131314
1,1,The Matrix,1999,https://www.netflix.com/watch/20557937
2,2,Avengers: Infinity War,2018,https://www.netflix.com/watch/80219127
3,3,Back to the Future,1985,https://www.netflix.com/watch/60010110
4,4,"The Good, the Bad and the Ugly",1966,https://www.netflix.com/watch/553500
...,...,...,...,...
162,162,El testigo: Caín y Abel,2018,https://www.netflix.com/watch/81130373
163,163,True: Happy Hearts Day,2019,https://www.netflix.com/watch/81035127
164,164,Beary Tales,2013,https://www.netflix.com/watch/80135586
165,165,Hombanna,2017,https://www.netflix.com/watch/80990816
166,166,Elles étaient en guerre (1914 - 1918),2014,https://www.netflix.com/watch/80230465

In [16]:
netflix_newdf = pd.merge(imdb_netflix, netflix_url_df, on='title', how='left' )
netflix_newdf = netflix_newdf[["rank", "id", "title", "rating", "year_x", "service", "netflix_url"]]
netflix_newdf = netflix_newdf.rename(columns={"year_x":"year"})

netflix_newdf

,rank,id,title,rating,year,service,netflix_url
0,6,tt0108052,Schindler's List,8.9,1993,netflix,NaN
1,7,tt0167260,The Lord of the Rings: The Return of the King,8.9,2003,netflix,NaN
2,8,tt0110912,Pulp Fiction,8.8,1994,netflix,NaN
3,13,tt1375666,Inception,8.7,2010,netflix,https://www.netflix.com/watch/70131314
4,15,tt0167261,The Lord of the Rings: The Two Towers,8.7,2002,netflix,NaN
5,16,tt0133093,The Matrix,8.6,1999,netflix,https://www.netflix.com/watch/20557937
6,22,tt0317248,City of God,8.6,2002,netflix,NaN
7,35,tt0120586,American History X,8.5,1998,netflix,NaN
8,43,tt0407887,The Departed,8.5,2006,netflix,NaN
9,47,tt0064116,Once Upon a Time in the West,8.5,1968,netflix,NaN
10,52,tt7286456,Joker,8.4,2019,netflix,NaN
11,56,tt0082971,Indiana Jones and the Raiders of the Lost Ark,8.4,1981,netflix,NaN
12,58,tt0405094,The Lives of Others,8.4,2006,netflix,NaN
13,62,tt4154756,Avengers: Infinity War,8.4,2018,netflix,https://www.netflix.com/watch/80219127
14,65,tt4633694,Spider-Man: Into the Spider-Verse,8.4,2018,netflix,https://www.netflix.com/watch/81002747
15,76,tt0169547,American Beauty,8.3,1999,netflix,NaN
16,80,tt1187043,3 Idiots,8.3,2009,netflix,https://www.netflix.com/watch/70121522
17,88,tt0361748,Inglourious Basterds,8.3,2009,netflix,https://www.netflix.com/watch/70108777
18,94,tt5074352,Dangal,8.3,2016,netflix,https://www.netflix.com/watch/80166185
19,98,tt2106476,The Hunt,8.3,2012,netflix,NaN
20,107,tt0075314,Taxi Driver,8.2,1976,netflix,https://www.netflix.com/watch/18907685
21,115,tt1832382,A Separation,8.2,2011,netflix,NaN
22,117,tt0053604,The Apartment,8.2,1960,netflix,NaN
23,120,tt0097576,Indiana Jones and the Last Crusade,8.2,1989,netflix,https://www.netflix.com/watch/60010487
24,124,tt0071853,Monty Python and the Holy Grail,8.2,1975,netflix,https://www.netflix.com/watch/771476
25,141,tt0457430,Pan's Labyrinth,8.2,2006,netflix,https://www.netflix.com/watch/70050507
26,145,tt0120735,"Lock, Stock and Two Smoking Barrels",8.2,1998,netflix,NaN
27,146,tt0081398,Raging Bull,8.2,1980,netflix,NaN
28,155,tt0434409,V for Vendetta,8.1,2005,netflix,NaN
29,160,tt1291584,Warrior,8.1,2011,netflix,NaN
30,162,tt0117951,Trainspotting,8.1,1996,netflix,NaN
31,167,tt3170832,Room,8.1,2015,netflix,https://www.netflix.com/watch/80073823
32,176,tt0266697,Kill Bill: Vol. 1,8.1,2003,netflix,NaN
33,183,tt4729430,Klaus,8.1,2019,netflix,https://www.netflix.com/watch/80183187
34,184,tt8108198,Andhadhun,8.1,2018,netflix,NaN
35,193,tt0060827,Persona,8.1,1966,netflix,NaN
36,196,tt0264464,Catch Me If You Can,8.1,2002,netflix,NaN
37,212,tt0079470,Monty Python's Life of Brian,8.1,1979,netflix,NaN
38,226,tt0405508,Rang De Basanti,8.0,2006,netflix,https://www.netflix.com/watch/70047320
39,228,tt0075148,Rocky,8.0,1976,netflix,NaN
40,240,tt4857264,The Invisible Guest,8.0,2016,netflix,https://www.netflix.com/watch/80093106
41,241,tt4430212,Drishyam,8.0,2015,netflix,NaN