In [6]:
import requests
import json
from config import omdb_key
from pprint import pprint
import pandas as pd

In [7]:
url = "http://www.omdbapi.com/?i="
api_key = "&apikey=" + omdb_key

In [8]:
imdb250_csv = "Resources/imdb250.csv"
imdb250_df = pd.read_csv(imdb250_csv)
del imdb250_df["Unnamed: 0"]
imdb250_df

     rank                     title  year  rating
0       1  The Shawshank Redemption  1994     9.2
1       2             The Godfather  1972     9.1
2       3    The Godfather: Part II  1974     9.0
3       4           The Dark Knight  2008     9.0
4       5              12 Angry Men  1957     8.9
..    ...                       ...   ...     ...
161   162             Trainspotting  1996     8.1
162   163           The Sixth Sense  1999     8.1
163   164                 The Thing  1982     8.1
164   165        Gone with the Wind  1939     8.1
165   166             Jurassic Park  1993     8.1

[166 rows x 4 columns]

In [10]:
response = requests.get(url + "tt0050083" + api_key)
data = response.json()
pprint(data)

data['Rated']

{'Actors': 'Martin Balsam, John Fiedler, Lee J. Cobb, E.G. Marshall',
 'Awards': 'Nominated for 3 Oscars. Another 16 wins & 9 nominations.',
 'BoxOffice': 'N/A',
 'Country': 'USA',
 'DVD': 'N/A',
 'Director': 'Sidney Lumet',
 'Genre': 'Drama',
 'Language': 'English',
 'Metascore': '96',
 'Plot': 'A jury holdout attempts to prevent a miscarriage of justice by '
         'forcing his colleagues to reconsider the evidence.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BMWU4N2FjNzYtNTVkNC00NzQ0LTg0MjAtYTJlMjFhNGUxZDFmXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_SX300.jpg',
 'Production': 'N/A',
 'Rated': 'Approved',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.9/10'},
             {'Source': 'Rotten Tomatoes', 'Value': '100%'},
             {'Source': 'Metacritic', 'Value': '96/100'}],
 'Released': '10 Apr 1957',
 'Response': 'True',
 'Runtime': '96 min',
 'Title': '12 Angry Men',
 'Type': 'movie',
 'Website': 'N/A',
 'Writer': 'Reginald Rose (story), Reginald Rose (screenplay)',
 'Year': '1957',
 'imdbID': 'tt0050083',
 'imdbRating': '8.9',
 'imdbVotes': '650,851'}

'Approved'

In [11]:
mpaa_ratings = []

genres = []

directors = []

for index, row in imdb250_df.iterrows():
    response = requests.get(url + row[1] + api_key)
    data = response.json()
    mpaa_ratings.append(data['Rated'])
    genres.append(data['Genre'])
    directors.append(data['Director'])
    

imdb250_df['mpaa_rating'] = mpaa_ratings
imdb250_df['genre'] = genres
imdb250_df['director'] = directors

imdb250_df

KeyError: 'Rated'

In [ ]:
imdb250_df.to_csv('Resources/imdb250_details.csv')