In [2]:
import requests
import json
from config import omdb_key
from pprint import pprint
import pandas as pd

In [3]:
url = "http://www.omdbapi.com/?i="
api_key = "&apikey=" + omdb_key

In [5]:
imdb250_csv = "clean_ipynb_ryla_052120/Resources/imdb250.csv"
imdb250_df = pd.read_csv(imdb250_csv)
del imdb250_df["Unnamed: 0"]
imdb250_df

     rank         id                              title  year  rating
0       1  tt0111161           The Shawshank Redemption  1994     9.2
1       2  tt0068646                      The Godfather  1972     9.1
2       3  tt0071562             The Godfather: Part II  1974     9.0
3       4  tt0468569                    The Dark Knight  2008     9.0
4       5  tt0050083                       12 Angry Men  1957     8.9
..    ...        ...                                ...   ...     ...
245   246  tt0169102  Lagaan: Once Upon a Time in India  2001     8.0
246   247  tt0083922                Fanny and Alexander  1982     8.0
247   248  tt0103639                            Aladdin  1992     8.0
248   249  tt0111495                  Three Colors: Red  1994     8.0
249   250  tt0871510                     Chak de! India  2007     8.0

[250 rows x 5 columns]

In [13]:
response = requests.get(url + "tt0050083" + api_key)
data = response.json()
pprint(data)

#data['Rated']

{'Actors': 'Martin Balsam, John Fiedler, Lee J. Cobb, E.G. Marshall',
 'Awards': 'Nominated for 3 Oscars. Another 16 wins & 9 nominations.',
 'BoxOffice': 'N/A',
 'Country': 'USA',
 'DVD': 'N/A',
 'Director': 'Sidney Lumet',
 'Genre': 'Drama',
 'Language': 'English',
 'Metascore': '96',
 'Plot': 'A jury holdout attempts to prevent a miscarriage of justice by '
         'forcing his colleagues to reconsider the evidence.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BMWU4N2FjNzYtNTVkNC00NzQ0LTg0MjAtYTJlMjFhNGUxZDFmXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_SX300.jpg',
 'Production': 'N/A',
 'Rated': 'Approved',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.9/10'},
             {'Source': 'Rotten Tomatoes', 'Value': '100%'},
             {'Source': 'Metacritic', 'Value': '96/100'}],
 'Released': '10 Apr 1957',
 'Response': 'True',
 'Runtime': '96 min',
 'Title': '12 Angry Men',
 'Type': 'movie',
 'Website': 'N/A',
 'Writer': 'Reginald Rose (story), Reginald Rose (screenplay)',
 'Year': '1957',
 'imdbID': 'tt0050083',
 'imdbRating': '8.9',
 'imdbVotes': '650,851'}

In [11]:
mpaa_ratings = []
for index, row in imdb250_df.iterrows():
    response = requests.get(url + row[1] + api_key)
    data = response.json()
    mpaa_ratings.append(data['Rated'])

imdb250_df['mpaa_rating'] = mpaa_ratings

imdb250_df

,rank,id,title,year,rating,mpaa_rating
0,1,tt0111161,The Shawshank Redemption,1994,9.2,R
1,2,tt0068646,The Godfather,1972,9.1,R
2,3,tt0071562,The Godfather: Part II,1974,9.0,R
3,4,tt0468569,The Dark Knight,2008,9.0,PG-13
4,5,tt0050083,12 Angry Men,1957,8.9,Approved
...,...,...,...,...,...,...
245,246,tt0169102,Lagaan: Once Upon a Time in India,2001,8.0,PG
246,247,tt0083922,Fanny and Alexander,1982,8.0,R
247,248,tt0103639,Aladdin,1992,8.0,G
248,249,tt0111495,Three Colors: Red,1994,8.0,R
249,250,tt0871510,Chak de! India,2007,8.0,Not Rated

In [12]:
imdb250_df.to_csv('Resources/imdb250_mpaa.csv')